.about-page-container
  .row
    %h1 What is Machovy? <small>Your&nbsp;guide&nbsp;to&nbsp;living&nbsp;the&nbsp;dream</small>
  .row
    = render :partial => 'shared/flash_messages'
  .row.about-page
    .row
      .large-12.columns
        %h5 Let’s face it, men love deals just as much as women do.
        %p So we created a deal site just for men that negotiates local deals on merchandise, services and really bad-ass experiences. No more enduring an endless parade of lady products - and we didn't stop there. Making merchants happy is important to us, so we created a win-win promotion formula to keep the deals flowing. 
        %p== Why should you care? We hired dedicated #{I18n.t('curators')} who absolutely live nightlife, fashion, electronics, cars, and dining, along with an array of vices to keep you entertained for the rest of your once mundane existence. Whether it's saving big on everyday products and services, or being able to afford the experiences of a lifetime, Machovy has you covered.
        %p Deals. No Limits. Machovy. 
