%h1 Frequently Asked Questions
%h4 Why do some promotions not show prices? 
%em Machovy features both negotiated deals with local merchants -- with prominent prices and terms -- and "affiliate" deals. These affiliate deals are run by the respective merchants; click on the promotion to purchase from non-Machovy vendors.
%h4== What are #{I18n.t('macho_bucks')}? 
%em== #{I18n.t('macho_bucks')} are real dollars you can use just about anywhere on Machovy.com. #{link_to 'Click here for more details...', about_macho_bucks_path}

