.how-page-container
  .row
    .large-12.columns
      %h1 Who we are & how we're different
  .row.how-page
    .row
      .large-12.columns
        %p We're a one-stop online shop for <strong>local</strong> products and services, with a strong emphasis on the needs and desires of one particular underserved market: men with an active lifestyle. Combat boots? Leisure suits? Adventure cruises? Paintball bruises? Machovy's there. From losing hair to men's wear; from "bro" to Bond: we've got you covered. More timely and dynamic than conventional media advertising, and with a local emphasis national online retailers could never match, Machovy helps you stay focused on your core business while growing your local customer base.
        %p
          With Machovy, you're in control. Just open a free merchant account, and you can immediately begin building momentum for your business plan articles by professional writers, along with innovative incentive and referral programs designed to build brand loyalty. Soon we'll be rolling out advanced entertainment and gaming features, tailored to a predominantly male audience, that will reliably trigger competitive instincts and keep your customers coming back to the site.
    .row
      .large-6.columns  
        %h5 Roll your own promotions
        %p 
          With Machovy, your promotions are not shoehorned into a one-size-fits-all standard template, with fixed commission terms and a
          lengthy contract. There's just one general contract on signup, and then we set you free. You write the content, set the parameters, and
          propose the terms. If your promotion falls within our generous guidelines, it could go live on the site earning you money that same day.

        %h5 Quantity driven
        %p
          Machovy rejects the tired gimmicks of the past generation of deals sites. They're no longer effective, if they ever were. You won't find
          countdown clocks, blinking banners, or daily spewed spam on our site. You set the quantity you'd like to sell, and the promotion ends when
          they're all gone. (Users will see when only 10% remain, but that's our only concession to "high pressure" sales.)
        %h5 No up-front costs
        %p
          We are the Edgar Snyder of online deals. There's no commission until we get sales for you! 
        %h5 Lower, negotiated commissions
        %p
          This is powerful stuff. It's the key to creating nimble, winning marketing strategies you can design and test -- for free -- through Machovy.
        %p
          Perhaps you've been using a certain promotion for years and know it works well. Offer a low commission (as low as 10%). It's still a good
          deal for Machovy that will bring new visitors to the site.
        %p
          Have a risky venture you're not sure will fly? Offer a higher commission and request "above-the-fold" placement on the site. We'll
          try it out. If it hits, we all win. If not... no harm done, and no cost to you. Just try again. And every promotion builds your customer base for the next one.
      .large-6.columns
        %h5 Engaging content
        %p
          Machovy is more than just a deals site. Without a large and growing user community, even "Free Beer"
          would fall flat. Building that community is key, and Machovy's got it covered six ways to football Sunday.
        %p
          You read Playboy for the articles, right? Our Machovy Girls are clothed -- mostly. And our stable of professional columnists (called
          "Mentors" on the site) writes original, highly entertaining content, each with a unique voice crafted to attract an important segment of
          the market. Some may create instant addicts with compelling dramatic narratives; reading others may be more like watching a car accident.
          Either way, you just can't look away.
        %p
          The mentors look for -- and link to -- promotions related to their writing. Or they may see your fascinating promotion and feel compelled
          to write about it. When customers read content, they see promotions -- maybe yours. And when they view promotions, they see related mentor
          articles, videos, and social media tie-ins, all designed to keep them on the site: entertaining themselves -- and making money for us.
        %h5 Automated customer feedback
        %p
          Your ability to quickly craft and validate promotions is key to the Machovy method, and crucial for maximizing its value to you. That
          means you need to see exactly how your promotions are doing: immediately, and in real time. We created the vendor dashboard for
          just that purpose. You'll see who's buying -- and who's just looking.
        %p
          We also capture user ratings and survey feedback on each of your promotions, which we can make available through our advanced analytics package.
        %h5 Advertise with Machovy
        %p
          Don't have any current promotions? Perhaps your business doesn't fit naturally into the Machovy promotion model. In that case, we also offer advertising at very competitive rates.
    .row
      %br
      .large-12.columns
        .panel
          %h3== Ready to take your business to the next level? #{link_to "Create a Merchant Account", new_user_registration_path} to get started.
