.row-fluid
  .span12.page-header
    %h1== Do the Harlem Shake with Club Erotica <small>Uncensored version!</small>
    %iframe{:width => "640", :height => "360", :src => "http://www.youtube.com/embed/cKwtuA82UIw?feature=player_detailpage", :frameborder => "0", :allowfullscreen => true}
    %br/
    %br/
    %h3
      = link_to "Click here for all <span style='color:red'>Club Erotica</span> special deals!".html_safe, erotica_path(:local => true)
