= render :partial => 'shared/flash_messages'
.about-page-container
  .row
    .large-12.columns
      %h1== Do the Harlem Shake with #{@vendor_name} <small>Uncensored version!</small>
  .row.about-page
    .large-12.columns

    .flex-video
      %iframe{:width => "640", :height => "360", :src => "http://www.youtube.com/embed/cKwtuA82UIw?feature=player_detailpage", :frameborder => "0", :allowfullscreen => true}

    .panel
      %h3
        = link_to "Click here for all <span style='color:red'>#{@vendor_name}</span> special deals!".html_safe, machovy_feed_path(:vendor => @vendor_name)
