.about-page-container
  .row
    .large-12.columns
      %center
        %h1 Machovy Insider
  .row
    = render :partial => 'shared/flash_messages'
  .row.about-page
    .large-12.columns
    %h3 Welcome to the Machovy Insider series; click below to select an episode
    .panel
      -# Link to each episode, using en.yml values; views are named according to the generated "slug"
      %h2= link_to I18n.t('insider-paul'), insider_path(:episode => I18n.t('insider-paul').parameterize)
      %h2= link_to I18n.t('insider-pudding'), insider_path(:episode => I18n.t('insider-pudding').parameterize)
      %h2= link_to I18n.t('insider-animal-control'), insider_path(:episode => I18n.t('insider-animal-control').parameterize)
