%h5 You're in charge
%p You determine the commission Machovy gets for each sale.  You write the deal description, provide the pictures and set the price.  Our staff goes through validates the information and if it's a good deal for our customers and if it makes sense for us, we'll market your promotion.  

%h5 No Tipping Points, No One Day Sales
%p You don't get 24 hours. You're selling 24/7 until you've sold out all the vouchers.

%h5 We're actually local
%p We love local and small businesses.  We provide tools that make discovering local businesses fun.

%h5 Try Something New
%p Sell a service you have never tried before.  Our audience likes cutting edge unique experiences, products or services.

%h5 Advertising
%em= mail_to   "sales@machovy.com", "Contact Us"
to advertise on our site.

-# 480/295
.flex-video
  %iframe{:width => "650", :height => "350", :frameborder => "0", :allowfullscreen => "true", |
          :src => 'https://www.youtube.com/embed/ISljpBR0iz4?feature=player_detailpage'} |   
-#
  %iframe{:src => MachovyRails::Application.assets.find_asset(VendorMailer::LEGAL_AGREEMENT_HTML).to_s, :style => "width:650px; height:350px;", :frameborder => "0"}
  - contract_url = merchant_contract_url(:host => ApplicationHelper::WEB_ADDRESS, :port => nil)
  %iframe{:src => "http://docs.google.com/gview?url=#{contract_url}&embedded=true", :style => "width:650px; height:350px;", :frameborder => "0"}