%h4 You're in charge
.borderLine
  .borderLine-left &nbsp;
  .borderLine-right &nbsp;
%p You determine how much our share is.  You give us the ad content, the picture the price the value.  Our staff goes through validates the information and if it's a good deal for our customers and if it makes sense for us, we'll market your promotion.  
%br
%h4 You are on here until the quantity runs out
.borderLine
  .borderLine-left &nbsp;
  .borderLine-right &nbsp;
%p You don't get 24 hours.  you get it all the time.  Until you've sold out all the vouchers.
%br
%h4 We're actually local
.borderLine
  .borderLine-left &nbsp;
  .borderLine-right &nbsp;
%p All the content for a metro area is produced locally.  
%br
%h4 Local Deals
.borderLine
  .borderLine-left &nbsp;
  .borderLine-right &nbsp;
%p Try something new.  Sell a service you have never tried before.  Our audience likes cutting edge unique experiences.  They're early adopters of everything. 
%br 
%h4 Advertising
.borderLine
  .borderLine-left &nbsp;
  .borderLine-right &nbsp;
%br
%em= mail_to   "sales@machovy.com", "Contact Us"
to advertise on our site.
%br
%br
