%h3 Not the usual deals site  
We're a bit different.  
%h4 You're in charge
%p You determine how much our share is.  You give us the ad content, the picture the price the value.  Our staff goes through validates the information and if it's a good deal for our customers and if it makes sense for us, we'll market your promotion.  
%h4 You are on here until the quantity runs out
%p You don't get 24 hours.  you get it all the time.  Until you've sold out all the vouchers.
%h4 We're actually local
%p All the content for a metro area is produced locally.  
%h4 Local Deals
%p Try something new.  Sell a service you have never tried before.  Our audience likes cutting edge unique experiences.  They're early adopters of everything.  
%h4 Advertising
%em= mail_to   "sales@machovy.com", "Contact Us"
to advertise on our site.
