Thank you for purchasing a Machovy Gift Certificate for #{@certificate.email}.
Since they're already a Machovy.com member, we don't have to wait for them to sign up. Their account has been credited for #{number_to_currency(@certificate.amount)} #{I18n.t('macho_bucks')}.
