Thank you for purchasing a Machovy Gift Certificate for #{@certificate.email}.
As soon as they sign up, they'll receive a credit of #{number_to_currency(@certificate.amount)} #{I18n.t('macho_bucks')} to spend on Machovy.com.
We'll let you know when they sign up.
