Thanks again for your Machovy Gift Certificate purchase for #{@certificate.email}!
You'll be happy to learn that this new Machovy user has signed up and is ready to use their #{number_to_currency(@certificate.amount)}.
