%p Dear Machovy customer,
%p== A Machovy Admin has 'returned' your voucher (#{@voucher.uuid}). Your #{I18n.t('macho_bucks')} will be credited the next time you purchase a local deal.
%p Your current #{I18n.t('macho_bucks')} balance is: #{number_to_currency(@bucks.user.total_macho_bucks)}.
