Thank you for redeeming your voucher. We hope you enjoyed it!

You purchased #{number_to_word(@order.quantity)} of these: #{@order.promotion.title} for #{number_to_currency(@order.total_cost)}

We always appreciate feedback.

Take this #{link_to 'survey', survey_user_path(@order.user, :order_id => @order.id) } to let us know about your experience.
