<h1>SiteAdmin#add_affiliate</h1>
<p>Find me in app/views/site_admin/add_affiliate.html.erb</p>

<p>
	Here you will add a link to one of our affiliates.  Please add in images, description, text. 
	</p>