- if !blogpost.nil?
  .skinnybox.box.tallbox.isotope-item.item
    %h5
      = link_to truncate(blogpost.title, :length => 25), blog_post_path(blogpost)
    .borderLine
      .borderLine-left &nbsp;
      .borderLine-right &nbsp;
    %p
      = blogpost.truncated_body(:length => 200)