.blogpost
  - post = BlogPost.find(content)
  = link_to image_tag(post.associated_image_url(:blog_content_photo).to_s), blog_post_path(post)
  .details
    .author
      = link_to image_tag(post.curator.picture_url(:product_front_page).to_s), blog_post_path(post)
      .left
        %h4 
          %a Author Title
        %p 
          %a View Posts
      %a.right
        %i.icon-file-alt.icon-2x
    %h3= link_to post.title, blog_post_path(post)