.skinnybox.box.tallbox.isotope-item.item
  = render :partial => 'nondeal', :locals => { :promotion => Promotion.find(content[0]) }
  = render :partial => 'nondeal', :locals => { :promotion => Promotion.find(content[1]) }
