.local
  - promotion = Promotion.find(content)
  - if promotion.zombie?
    = link_to promotion_path(promotion) do
      .red-bg
      = render :partial => 'littlelocal_content', :locals => { :promotion => promotion }
  - elsif promotion.zombie?
    .gray-bg
    = render :partial => 'littlelocal_content', :locals => { :promotion => promotion }
  - else
    = render :partial => 'littlelocal_content', :locals => { :promotion => promotion }