= render :partial => 'categories/index', :locals => { :active_category => @active_category }
= render :partial => 'shared/flash_messages'

%header.row.home-page.center
  .large-6.columns.divide-right
    .large-2.columns.symbol
      %i.icon-group
    .large-10.columns
      %h2 Collect Merchandise, Build&nbsp;Your&nbsp;Lifestyle
      %p 
        Machovy is a social shopping experience for men. We are working on building relationships with local businesses to provide premium services in the surrounding Pittsburgh Area.
  .large-6.columns.divide-left
    .large-6.columns.offset-by-one
      %h3 Are you a Merchant?<br/> Submit your deal today.
    .large-6.columns
      %a{:href => about_path}
        Learn More
        %i.icon-angle-right
.main-wrap
  #container
    - if @empty_layout
      #deal_content
    - elsif !@layout.nil?
      #deal_content
      - @layout.each do |layout|
        = render :partial => layout[:partial], :locals => { :content => layout[:content] }
      .row.pagination-centered
        %ul.pagination= will_paginate @paged_layout
    
