= render :partial => 'categories/index', :locals => { :active_category => @active_category }
= render :partial => 'shared/flash_messages'

#container.clearfix.row-fluid
  - @layout.each do |layout|
    = render :partial => layout[:partial], :locals => { :content => layout[:content] }
%center= will_paginate @layout
