<h3>Not the usual deals site</h3>
<p>
	
	We're a bit different.  
	<p>
		
		<p>
		</p>
		<h4>You're in charge'</h4>
		
		<p>You determine how much our share is.  You give us the ad content, the picture the price the value.  Our staff goes through validates the information and if it's a good deal for our customers and if it makes sense for us, we'll market your promotion.  
		
		</p>
		<h4>You are on here until the quantity runs out</h4>
		
		<p>You don't get 24 hours.  you get it all the time.  Until you've sold out the qty of vouchers
		</p>
		<h4>We're actually local</h4>
		<p>All the content for a metro area is produced locally.  
		</p>
		
		<h4>Local Deals</h4>
		<p>Try something new.  Sell a service you have never tried before.  Our audience likes cutting edge unique experiences.  They're early adopters of everything.  <b><u><%= link_to('Sign up', new_user_registration_path)  %> </b></u> for a merchant account and set up a deal now!
			

			
		</p>
		<h4>Advertising</h4>
		<p><u><b><%=mail_to   "sales@machovy.com", "Contact Us"%></u></b> to advertise on our site.
		</p>