%h3== Thanks again for your order from #{@order.vendor.name} (#{@order.promotion.title}, on #{@order.created_at.try(:strftime, ApplicationHelper::DATE_FORMAT)})
%p You've already given feedback on your order. Thank you!
