.about-page-container
  .row
    .large-12.columns
      %h1== New Video
  .row.about-page
    .large-3.columns
      = render :partial => 'shared/admin_navigation'
    .large-9.columns
      = form_for @video do |f|
        = render :partial => 'video_fields', :locals => { :f => f }
        .actions
          = f.submit "Create Video"
