%h1= @video.title
%em= @video.curator.name
-#%video{:src => @video.destination_url}
.row-fluid
  .span6
    %iframe{:width => "640", :height => "385", :frameborder => "0", :allowfullscreen => "true", |
            :src => @video.destination_url} |   
            -#:src => "http://www.youtube.com/embed/Q3Ya1AMHwiM?feature=player_detailpage"} |   
            -#:src => "http://www.youtube.com/embed/WMKmQmkJ9gg?feature=player_detailpage"} |
%p= @video.caption
%br/
= link_to "Edit", edit_video_path(@video)
