.row-fluid.thumbnails
  - promotions.each do |promotion|
    .span3.product-list
      %span
        = link_to image_tag(promotion.teaser_image_url(:teaser).to_s), promotion_path(promotion) 
      .title=truncate(sanitize(promotion.title), :length => 20)
      .description= truncate(promotion.description, :length => 124)
      .row-fluid.menu
        .span8.details
          %i.icon-plus-sign.icon-white
          = link_to "More Details", promotion_path(promotion)
        .span4.price.pull-right
          $25.00  
        
