%h1 Listing vouchers
%table
  %col{:width => "100"}/
  %col{:width => "100"}/
  %col{:width => "75"}/
  %col{:width => "250"}/
  %col{:width => "100"}/
  %col{:width => "100"}/
  %col{:width => "100"}/
  - if @display_controls
    %col{:width => "100"}/
  %tr
    %th Uuid
    %th Redeemed on
    %th Status
    %th Notes
    %th Expires on
    %th Issued on
    %th Promotion
    - if @display_controls
      %th (Un)Redeem
  - @vouchers.each do |voucher|
    = render :partial => 'voucher', :locals => { :v => voucher, :controls => @display_controls }
