<h2>My Deals</h2>

	<%if @vendors.size == 0%>
<p>	Your Merchant Account Has Not Been Set Up Yet! <Br/><Br/> Please contact us.</p>
	<%else%>
	
	<h1>All promotions - Listing / Manage</h1>



	<%= link_to 'New Promotion', new_promotion_path %>
	<br>
	<br>	<br>	<br>
	
	<div class="portfolio-container">
		<ul id="grid-portfolio" class="portfolio-items">


			<% @promotions.each do |promotion| %>
				 

				 
				<div class="item-hover">
						<h4> <%= link_to sanitize(promotion.title), promotion %>  </h4>
			     &nbsp;&nbsp;<%= image_tag promotion.teaser_image_url(:teaser).to_s, :size => "50x50"%>
			     <%= link_to 'Vouchers', merchant_dashboard_path(:id => promotion) %>&nbsp;&nbsp;
			    
					 
				</div>
				</li>
			
			 

			<%  
			  end %>

		</ul>
		<!--GRID PORTFOLIO ENDS -->
	</div>
	
	
	
	<%end %>
	
