.blogpost-page {
    h4 {margin-bottom:0px;}
    img {margin-bottom:10px;}
    .mediumgray-btn { @include sassy-button("matte", 12px, 10px, $mediumgray); font-weight: thin;}
    .darkred-btn {@include sassy-button("matte", 12px, 10px, $darkred);font-weight: bold;}
    .hr {border-bottom:1px solid $lightgray; margin:10px 0px;}
    background-color:white;
    padding: 20px 10px;
}

.author-recommend {
  .author {
    padding:0px;
    background-color:white;
    background-color:black;
    height: 50px;
    margin-bottom: 0px!important;
      .icon-2x {font-size:2em; margin-top:12px; font-weight:thin;  color:white;}
      .columns {padding:0px 10px 0px 2px;}
      a {color:white; margin:2px 15px 0px 0px;}
      h4 {
        color:white;
        font-weight: bold;
        font-size: 1em!important;
        padding-top: 5px;
        margin-bottom: 0px!important;
      }
      p {
        color:white;
        font-size:0.85em;
      }
      img {
        height:50px; 
        width:50px; 
        display:block; 
        background-color:white;   
        float: left;      
        margin-right:10px;  
      }
    }
}