.blogpost-page-container {
  h1 {color:white;}
  background: url(/assets/background-img.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.blogpost-page {
    background-color: white!important;
    padding: 10px 30px 20px 20px;
    h4 {margin-bottom:0px;}
    img {margin-bottom:10px;}
    p {margin-bottom:0.7em;}
    .fb_iframe_widget,
    .fb_iframe_widget span,
    .fb_iframe_widget iframe[style]  {width: 100% !important;}
    .price-old {text-decoration: line-through;}
    .price-new {color:$darkred; font-size:20px; font-weight:bold; margin-left:5px;}
    input[type="submit"] {padding:5px 15px!important;}
    .mediumgray-btn { @include sassy-button("matte", 12px, 10px, $mediumgray); font-weight: thin;}
    .darkred-btn {@include sassy-button("matte", 12px, 10px, $darkred);font-weight: bold;}
    .hr {border-bottom:1px solid $lightgray; margin:10px 0px;}
    .post {
      img {width:100%;} // Dimensions are: 810px x 300px
    }
    .bold {font-weight:bold;}
    .content {
      background-color:white;
      z-index: 1;
      position:relative;
      margin:-75px 0px 0px;
      padding:20px;
      @media #{$small} { margin:-75px 40px 0px!important;}
    }
    .author {
      height: auto;
      .image{img {width:100%;}}  // Dimensions are: 310px x 150px 
      .name {
        z-index: 1;
        background-color:white;
        margin:-30px 15px 10px;
        padding-top:2px;
        width:85%;
        h4 {line-height:1em;}
        a {color:black; font-size:0.9em;}
        p {font-size:0.6em; font-weight:bold; color:black; text-transform:uppercase;}
        i {font-size:1.5em; padding-top:10px;}
        .columns {padding-left:0px!important;}
      }  
    }
    .recommended-products {
      h6 {font-weight:bold; margin-bottom:0px; color:#555555;}
      p {font-size:0.8em!important; line-height:1.2em;}
      .product {border-right:5px solid #efefef; margin-bottom:10px;}
    } 
}

// .author-recommend {
//   .author {
//     padding:0px;
//     background-color:white;
//     background-color:black;
//     height: 50px;
//     margin-bottom: 0px!important;
//       .icon-2x {font-size:2em; margin-top:12px; font-weight:thin;  color:white;}
//       .columns {padding:0px 10px 0px 2px;}
//       a {color:white; margin:2px 15px 0px 0px;}
//       h4 {
//         color:white;
//         font-weight: bold;
//         font-size: 1em!important;
//         padding-top: 5px;
//         margin-bottom: 0px!important;
//       }
//       p {
//         color:white;
//         font-size:0.85em;
//       }
//       img {
//         height:50px; 
//         width:50px; 
//         display:block; 
//         background-color:white;   
//         float: left;      
//         margin-right:10px;  
//       }
//     }
// }