*{
	outline: none;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

html, body{
	background: #000000;	
}

html {
  height: 100%;
  
  color: #555;
		font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 10px;
		-webkit-font-smoothing: antialiased;
}

body{
	min-height: 100%;
}

article{
	width: $total_width;
	max-width: $max_width;
	margin: 0 auto;	
	margin-bottom: 80px;

	h3.seperator{
		border-top: 1px solid rgba(0,0,0,0.1);
	}
}

li { list-style:none;}



