.local-deal-container {
  @media #{$small} { padding-top:60px; padding-bottom:60px;}
  padding-top:0px;
  padding-bottom: 0px;
  background: url(/assets/background-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.promotion {
    background-color: white!important;
    padding: 20px 20px 20px 20px;
    .btn {font-weight:normal;}
    h3 {margin-bottom:0px; margin-top:20px;  @media #{$small} {margin-top:0px;}}
    h4 {margin-bottom:1.4em; font-size:12px; font-weight:bold; color:black; text-transform:uppercase;}
    p {font-size:$paragraph-font-size;}
    img {width:100%; height:auto;}
    .hr {border-bottom:1px solid $lightgray; margin:10px 0px;}
    .orbit-bullets {display:none;}
    table {
      width:100.25%; 
      margin:20px 0;
      text-align: center;
        th {font-size:0.8em; text-align:center; text-transform:uppercase;}
    }
    .fb_iframe_widget,
    .fb_iframe_widget span,
    .fb_iframe_widget iframe[style]  {width: 100% !important;}
    .price-old {text-decoration: line-through;}
    .price-new {color:$darkred; font-size:20px; font-weight:bold; margin-left:5px;}
    input[type="submit"] {padding:5px 15px!important;}
}

.twshare {width:80px!important; float:left!important; margin-bottom:15px;}
.fshare {width:100px!important; float:left!important; margin-left:10px;}


.slogan {
  font-size: 20px;
    line-height: 32px;
    color: #8c8c8c!important;
    font-family: "HelveticaNeue-Light";
    text-align: center;
    letter-spacing: 0.2px;
    margin:75px 15px;
}

.related-curator {
  background-color: #999999;
}


.curator-page-container{
  h1 {color:white;}
  background: url(/assets/background-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  .curator-page {
    background-color: white;
    padding: 20px 40px 20px 20px;
  }
}

.about-page-container{
  h1 {color:white;}
  // background: url(/assets/background-img.png) no-repeat center center fixed; 
  //   -webkit-background-size: cover;
  //   -moz-background-size: cover;
  //   -o-background-size: cover;
  //   background-size: cover;

  .about-page {
    background-color: white;
    padding: 20px 40px 20px 20px;
    h5 {font-weight:bold;}
  }
}

.faq-page-container{
  h1 {color:white;}
  background: url(/assets/background-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  .faq-page {
    background-color: white;
    padding: 20px 40px 20px 20px;
    h1,h2,h3,h4,h5,h6 {margin-bottom:0px;}
    h5 {font-weight:bold;}
  }
}

.feedback-page-container{
  h1 {color:white;}
  background: url(/assets/background-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  .feedback-page {
    background-color: white;
    padding: 20px 40px 20px 20px;
    h5 {font-weight:bold;}
  }
}

.terms-page-container{
  h1 {color:white;}
  background: url(/assets/background-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  .terms-page {
    background-color: white;
    padding: 20px 40px 20px 20px;
    h5 {font-weight:bold;}
  }
}

.how-page-container{
  h1 {color:white;}
  background: url(/assets/background-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  .how-page {
    background-color: white;
    padding: 20px 40px 20px 20px;
    h5 {font-weight:bold;}
  }
}

.merchant-register-page-container {
  h1 {color:white;}
  background: url(/assets/background-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  .merchant-register-page {
    background-color: white;
    padding: 20px 40px 20px 20px;
    h5 {font-weight:bold;}
  }
}

.user-register-page-container {
  h1 {color:white;}
  background: url(/assets/background-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  .user-register-page {
    background-color: white;
    padding: 20px 40px 20px 20px;
    h5 {font-weight:bold;}
  }
}

.mentor-detail-page-container {
  h1 {color:white;}
  background: url(/assets/background-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  .mentor-detail-page {
    background-color: white;
    padding: 20px 40px 20px 20px;
    h5 {font-weight:bold;}
  }
}

.edit-profile-page-container {
  h1 {color:white;}
  background: url(/assets/background-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  .edit-profile-page {
    background-color: white;
    padding: 20px 40px 20px 20px;
    h5 {font-weight:bold;}
  }
}

.change-password-page-container {
  h1 {color:white;}
  background: url(/assets/background-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  .change-password-page {
    background-color: white;
    padding: 20px 40px 20px 20px;
    h5 {font-weight:bold;}
  }
}

.create-promotion-page-container {
  h1 {color:white;}
  background: url(/assets/background-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  .create-promotion-page {
    background-color: white;
    padding: 20px 40px 20px 20px;
    h5 {font-weight:bold;}
  }
}

.my-orders-page-container {
  h1 {color:white;}
  background: url(/assets/background-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  .my-orders-page {
    background-color: white;
    padding: 20px 40px 20px 20px;
    h5 {font-weight:bold;}
  }
}

.payments-page-container {
  h1 {color:white;}
  background: url(/assets/background-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  .payments-page {
    background-color: white;
    padding: 20px 40px 20px 20px;
    h5 {font-weight:bold;}
  }
}


.admin-page-container {
  h1 {color:white;}
  background: url(/assets/background-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  .admin-page {
    background-color: white;
    padding: 20px 40px 20px 10px;
    h5 {font-weight:bold;}
  }
}






