%nav.top-bar
	%ul.title-area
    %li.name
      %h1
        %a Machovy
    %li.toggle-topbar
  %section.top-bar-section
    %ul.left
      %li.divider
      %li.has-dropdown 
        Dropdown
        %ul.dropdown
          %li <label> Select Your City </label>
          %li
            %a Submenu
      %li.divider
    %ul.right
      %li.divider
      %li.has-dropdown Dropdown
        %ul.dropdown
          %li <label> Select Your City </label>
          %li
            %a Submenu
      %li.divider