Welcome to Machovy!

You'll be hearing from us soon about our standard Vendor agreement. You may now create promotions for #{@vendor.name} immediately. Please note that the vendor agreement must be executed and returned to your sales representative before deals can be approved for publication.

If you have any questions, please contact our legal department at (412) 532-6243.