%h2 Welcome to Machovy!
%p== You'll be hearing from us soon about our standard Merchant agreement. You can create promotions for #{@vendor.name} immediately. Please note that the merchant agreement must be executed and returned to your sales representative before deals can be approved for publication.
%p Please sign and fax the agreement to (313) 347-4528.
%p If you have any questions, please contact our legal department at (412) 532-6243.
