%h2 Welcome to Machovy!
%p== You can create promotions for #{@vendor.name} immediately. Please note that the merchant agreement must be executed and faxed to Machovy OR returned to your sales representative before deals can be approved for publication.
%p== You can download a copy of the merchant agreement by visiting https://www.machovy.com/merchant_contract
%p== Please sign and fax the agreement to #{ApplicationHelper::LEGAL_FAX}.
%p== If you have any questions, please contact our legal department at #{ApplicationHelper::LEGAL_PHONE}.
