Welcome to Machovy!

You'll be hearing from us soon about our standard merchant agreement. You may now create promotions for #{@vendor.name} immediately. Please note that the merchant agreement must be executed and returned to your sales representative before deals can be approved for publication.

Please sign and fax the agreement to #{ApplicationHelper::LEGAL_FAX}.

If you have any questions, please contact our legal department at #{ApplicationHelper::LEGAL_PHONE}.
