Welcome to Machovy!

You may now create promotions for #{@vendor.name} with your merchant account immediately. Please note that the merchant agreement must be executed and faxed to Machovy OR returned to your sales representative before deals can be approved for publication.

You can download a copy of the merchant agreement by visiting #{link_to "https://www.machovy.com/merchant_contract", "https://www.machovy.com/merchant_contract"}

Please sign and fax the agreement to #{ApplicationHelper::LEGAL_FAX}.

If you have any questions, please contact our legal department at #{ApplicationHelper::LEGAL_PHONE}.
