%h2 Welcome to Machovy!
%p== Attached please find our standard Vendor agreement. You can create promotions for #{@vendor.name} immediately. Please note that the vendor agreement must be executed and returned to your sales representative before deals can be approved for publication.

%p If you have any questions, please contact our legal department at 555-1212.