%h2 Welcome to Machovy!
%p== Please see the attachment for our standard Vendor agreement. You can create promotions for #{@vendor.name} immediately, but this is a necessary step for approval.
%p If you have any questions, please contact our legal department at 555-1212.