/*
----------------------------------------------
Variables
----------------------------------------------*/
$red: #ed464a;

/*
----------------------------------------------
Basic Styles
----------------------------------------------*/
* {margin:0px; padding:0px;}
.page { 
   page-break-after: always; 
} 

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
} 
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #555555!important;
    letter-spacing: 0px;
}
h1{
  font-size:34.5px;
}
h1 small{
  font-size: 16.5px;
  letter-spacing: -1px;
  font-family:'PT Sans', sans-serif;
}

h4 {
  font-family:Oswald;
  font-weight:300;
  letter-spacing:0px;
}

p,
li,
a,
label,
input,
button,
select,
textarea {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label,
input,
button,
select {
  display:inline-block;
}

p,
li,
label {
  color: #666;
}
/*label {
  font-weight: bold;
  padding:24px 0 2px;
}*/
blockquote p {
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

a{color: #333; text-decoration:none;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;-ms-transition:all .2s linear;transition:all .2s linear}

a:hover{
  color: #999;
  text-decoration:none; 
}

.float-left {float:left; margin-right:40px;}
.categories-margin {margin-left:5px;}
.voucher {font-size:28px;}
.voucher-order {border:1px solid #efefef; padding:20px; margin:20px 0;}
.user-email {
  color:white;
  padding:2px 0 0 10px;
  font-size:12px;
  width:40px;

  img {width:40px;}
}
.user-avatar {
  img {width:40px}
}

p {font-size:14px;}

  .borderLine {
    float: left;
    width: 100%;
    padding: -10px 0px 10px 0px;
    display: inline-block;
    margin: -5px 0 15px 0;
  }
 .borderLine-left {
    border: 3px solid $red;
    height: 0;
    width: 20%;
    display: inline-block;
    float: left;
  }
 .borderLine-right {
    width: 70%;
    margin: 2px 0px 0 2px;
    float: left;
    height: 1px;
    border: 1px dotted #999;
  }

/*.divider {
  border-bottom:1px dotted #cfcfcf;
  margin:10px 0;
}*/

.well {
  padding:20px;
  width:97%;
}

a {color:#555555;}

.page-header {
  border-bottom: 1px solid #efefef;
  margin: -8px 0px 10px 0px;
  padding: 0;
}

.sub-desc {
  font-style: italic;
  color: #999;
  line-height: 0px;
}

input, textarea, .uneditable-input {
  width:90%;
}

.logo img {max-width:220px; min-width:200px;}


.description {
  height:auto;
}

#promotion-form select {min-height:50px;}



/*
---------------------------------------------
Icons
---------------------------------------------*/
.icon-plus {margin:4px 4px 0 0;}


/*
----------------------------------------------
Headings
----------------------------------------------*/
h6 {
  font-size: 18px;
}

#container-front {
  .item {
  background-color: #fff;
  margin: 5px 5px 20px 0px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
  border: 4px solid #FBFBFB;
  position: relative;
}


}

/*
----------------------------------------------
NavBar
----------------------------------------------*/



header h1 {
  line-height: 0px;
  margin: 0px 0 8px 5px;
  width: 80%;
}

#nav .navbar-inner {
  min-height:35px;
  background-image: none;
  box-shadow: none;
  border-bottom: 2px solid #b6b6b6;
  background-color: #333333;
  background-image: -moz-linear-gradient(top, #333333, #333333);
  background-image: -ms-linear-gradient(top, #333333, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#333333));
  background-image: -webkit-linear-gradient(top, #333333, #333333);
  background-image: -o-linear-gradient(top, #333333, #333333);
  background-image: linear-gradient(top, #333333, #333333);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#333333', GradientType=0);
}
#nav .nav li a {
  text-shadow: none;
  font-size: 12px;
  color:white;
}
#nav .nav li a:hover {
  color: white;
    background-color:#ed464a;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #555555;
  text-decoration: none;
  background-color: #e5e5e5;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {

  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 1);
     -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 1);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 1);
}

#nav .nav li.dropdown .dropdown-toggle .caret,
#nav .nav li.dropdown.open .caret {
  border-bottom-color: #555;
  border-top-color: #555;
}

#nav .btn-navbar {
  background-color: #DDD;
  background-image: none;
  box-shadow: none;
}
#nav .brand {
  font-family: "Oleo Script", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#nav .nav .active > a,
#nav .nav .active > a:hover {
  background-color: #f6f6f6 !important;
  color: #555 !important;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 0px 0px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
  width: 150px;
}

.nav-list > li > a {
  padding: 8px 15px;
  color: #666;
  border-top: 1px solid #ccc;
}

.nav-list > li > a:hover {
  color: #333;
}

.nav li + .nav-header {
  margin-top: 0px;
  background-color: #666;
  color: white;
  text-shadow: 0 0 0;
}

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  background-color: #666;
  color: white;
  text-shadow: 0 0 0;
}




.header-fixed-top {
  width: 100%;
  padding-top: 15px;
  z-index:200;
  background-color: #F6F6F6;
  background-image: none;
  box-shadow: none;
  border-bottom: 1px solid #E6E6E6;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #F6F6F6, #F6F6F6);
  background-image: -ms-linear-gradient(top, #F6F6F6, #F6F6F6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F6F6F6), to(#F6F6F6));
  background-image: -webkit-linear-gradient(top, #F6F6F6, #F6F6F6);
  background-image: -o-linear-gradient(top, #F6F6F6, #F6F6F6);
  background-image: linear-gradient(top, #F6F6F6, #F6F6F6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6F6F6', endColorstr='#F6F6F6', GradientType=0);
  -webkit-box-shadow: 0 0px 4px rgba(0,0,0,.25), inset 0 0px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 0px 4px rgba(0,0,0,.25), inset 0 0px 0 rgba(0,0,0,.1);
  box-shadow: 0 0px 4px rgba(0,0,0,.25), inset 0 0px 0 rgba(0,0,0,.1);
}


.sub-headline {
  font-size: 100%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  display: inline-block;
}


.highlight {color:$red;}

/*
----------------------------------------------
Promotions
----------------------------------------------*/

#promotion-review {
  ul {
    margin:0 0 20px 0;
  }

  li {
    list-style:none;
  }

  li.title {
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 1.2em;
    color: black;
  }

  .btn-promo {
    margin:20px 0;
  }

  .promo-well {
    background-color:#efefef;
    padding:10px;
    margin:0 0 10px 0;
  }

}

#promotion-form {
  .btn {
    width: 100%;
    line-height: 35px;
    font-size: 1.5em;
  }

  .field {
    margin:0 0 10px 0;
  }

  label {
    display:block;
  }

  textarea, input, select {
    display:block;
    width:95%;
    margin:0 0 20px 0;
  }

  textarea {
    height:100px;
    width:95%;
  }
}


/*
----------------------------------------------
Icons
----------------------------------------------*/
[class^="icon-"],
[class*=" icon-"] {
}



/*
----------------------------------------------
Search
----------------------------------------------*/




/*
----------------------------------------------
Dropdown
----------------------------------------------*/

/*.nav-label {padding:0 0 0 20px; text-transform:uppercase; font-size:10px;}*/



.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #eeeeee;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: repeat-x;
  filter: none;
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: #999999;
}

.dropdown-menu .disabled > a:hover {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}


.dropdown-menu{
  padding: 0;
  margin-top: 5px;
  border-radius:0;
  -moz-box-shadow: 0px 0px 0px 0px white;
  -webkit-box-shadow: 0px 0px 0px 0px white;
  box-shadow: 0px 0px 0px 0px white;
  border-top: none;
  border-right: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
.dropdown-menu li > a,
.dropdown-menu .active > a,
.dropdown-menu .active > a {
    background-color: #333333;
    border: 1px solid #323232;
}



/*
----------------------------------------------
Dropdown
----------------------------------------------*/


.nav-pills > .active > a, 
.nav-pills > .active > a:hover {
  color:#333333!important;
  background-color: transparent;
}

.nav-menus {position:relative;}
 
.navbar .nav > li > .dropdown-menu:before {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  border-right: 0px solid transparent;
  border-bottom: 0px solid #ccc;
  border-left: 0px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.navbar .nav > li > .dropdown-menu:after {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  border-right: 0px solid transparent;
  border-bottom: 0px solid #ffffff;
  border-left: 0px solid transparent;
  content: '';
}


/*
----------------------------------------------
Categories
----------------------------------------------*/

/** Styles Active State of Categories **/
.nav-pills > .active > a, .nav-pills > .active > a:hover {
  font-weight:bold;
}

.nav > li > a:hover {
  background-color:transparent;
  color:black;
}

.categories a{color:#999999!important}
.categories a:hover{color:black!important;}

.nav-pills {
    margin-left: 0px;
  *zoom: 1;
}

.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color:transparent;
}

/*
----------------------------------------------
Tabs
----------------------------------------------*/

.tab-title {
  border-bottom:1px solid #eee;
  padding-bottom:5px;  
  margin-bottom:15px;
}

.tab-content {
  overflow: auto;
  position: relative;
  bottom: 21px;
  padding: 10px 22px 22px 22px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.tab-bottom-button {
  position: relative;
  background-color: #dddddd;
  bottom: 30px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.tab-bottom-button a {
  font-family: Oswald;
  color: #999;
  font-size: 16px;
  display:block;
  padding:10px
}

.tab-bottom-button a:hover {
  color: white;
  background-color:#333;
}


.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 15px;
  padding-left:0;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs > li > a {
  padding: 5px 20px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 0px 0px 0 0;
  -moz-border-radius: 0px 0px 0 0;
  border-radius: 0px 0px 0 0;
  background-color: #333;
  color: white;
  font-family: Oswald;
  text-transform: uppercase;
}

.nav-tabs > li > a:hover   {
  background-color:#aaa;
}

.nav-tabs > a,
.nav-tabs > a:hover {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border-bottom-color: transparent;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}


.navbar .nav > li > a {padding:8px 15px;}
 

/*
----------------------------------------------
Footer
----------------------------------------------*/
footer p,
footer address {
  color: #555 !important;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color:white;
}

footer a {
  color: #aaa;
}
footer p.sub {
  color: #888 !important;
  font-size: 0.9em;
  position: relative;
  bottom: 5px;
}
footer div.divider {
  border-bottom: 1px solid #333;
  border-top: 1px solid #111;
}
footer .stripe-color {
  border-top: 4px solid #E6E6E6;
}


/*
----------------------------------------------
Forms
----------------------------------------------*/
.form-horizontal .control-label {
  width: auto;
  margin-top: 7px;
}

.form-search input, .form-inline input, .form-horizontal input, .form-search textarea, .form-inline textarea, .form-horizontal textarea, .form-search select, .form-inline select, .form-horizontal select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal .input-append {
  margin: 8px 0 5px 8px;
}

#signup {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 92%;
    height: 30px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin: 0px 0 0;
    margin-top: 1px \9;
    *margin-top: 0;
    line-height: normal;
    cursor: pointer;
  }
}

/*
----------------------------------------------
Buttons
----------------------------------------------*/
.btn-danger a {color:white!important; font-family:Oswald; text-transform:uppercase;}
.btn a {  
  color: #333;
  font-family: Oswald;
  text-transform: uppercase;
  display: inline-block;
  width:100%;
  height:100%;
  padding: 0px;
}

.btn-admin {
  position: relative;
  bottom: 42px;
  margin:0 0 0 10px;
}

.btn-feedback {
  margin:-3px 0 0 0 ;
  padding:3px 10px;
  font-size:0.75em;
  letter-spacing:0.15em;
}

.btn-register {
  margin: 42px 0 15px 0;
  display: block!important;
  font-size: 18px;
  padding: 10px 0;
}



.btn {
  border-color: #acacac !important;
  background: #dddddd;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dddddd));
  background: -webkit-linear-gradient(top, #efefef, #dddddd);
  background: -moz-linear-gradient(top, #efefef, #dddddd);
  background: -ms-linear-gradient(top, #efefef, #dddddd);
  background: -o-linear-gradient(top, #efefef, #dddddd);
  font-weight: 500;
  font-family: Oswald;
  text-transform: uppercase;
}
.btn:hover {
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#eeeeee));
  background: -webkit-linear-gradient(top, #fcfcfc, #eeeeee);
  background: -moz-linear-gradient(top, #fcfcfc, #eeeeee);
  background: -ms-linear-gradient(top, #fcfcfc, #eeeeee);
  background: -o-linear-gradient(top, #fcfcfc, #eeeeee);
}
.btn.disabled {
  background-color: #dddddd;
}
.btn[disabled] {
  background-color: #dddddd;
}
.btn.dropdown-toggle {
  background-color: #dddddd !important;
}
.btn-primary {
  border-color: #0d507a !important;
  background: #0c6fb1;
  background: -webkit-gradient(linear, left top, left bottom, from(#14a7cf), to(#0c6fb1));
  background: -webkit-linear-gradient(top, #14a7cf, #0c6fb1);
  background: -moz-linear-gradient(top, #14a7cf, #0c6fb1);
  background: -ms-linear-gradient(top, #14a7cf, #0c6fb1);
  background: -o-linear-gradient(top, #14a7cf, #0c6fb1);
}
.btn-primary:hover {
  background: #1188d6;
  background: -webkit-gradient(linear, left top, left bottom, from(#1bb6e6), to(#1188d6));
  background: -webkit-linear-gradient(top, #1bb6e6, #1188d6);
  background: -moz-linear-gradient(top, #1bb6e6, #1188d6);
  background: -ms-linear-gradient(top, #1bb6e6, #1188d6);
  background: -o-linear-gradient(top, #1bb6e6, #1188d6);
}
.btn-primary.disabled {
  background-color: #0c6fb1;
}
.btn-primary[disabled] {
  background-color: #0c6fb1;
}
.btn-primary.dropdown-toggle {
  background-color: #0c6fb1 !important;
}
.btn-info {
  border-color: #2681a2 !important;
  background: #2caada;
  background: -webkit-gradient(linear, left top, left bottom, from(#46cae8), to(#2caada));
  background: -webkit-linear-gradient(top, #46cae8, #2caada);
  background: -moz-linear-gradient(top, #46cae8, #2caada);
  background: -ms-linear-gradient(top, #46cae8, #2caada);
  background: -o-linear-gradient(top, #46cae8, #2caada);
}
.btn-info:hover {
  background: #32bcef;
  background: -webkit-gradient(linear, left top, left bottom, from(#50d6f5), to(#32bcef));
  background: -webkit-linear-gradient(top, #50d6f5, #32bcef);
  background: -moz-linear-gradient(top, #50d6f5, #32bcef);
  background: -ms-linear-gradient(top, #50d6f5, #32bcef);
  background: -o-linear-gradient(top, #50d6f5, #32bcef);
}
.btn-info.disabled {
  background-color: #2caada;
}
.btn-info[disabled] {
  background-color: #2caada;
}
.btn-info.dropdown-toggle {
  background-color: #2caada !important;
}
.btn-success {
  border-color: #69963b !important;
  background: #7fc33c;
  background: -webkit-gradient(linear, left top, left bottom, from(#b1d960), to(#7fc33c));
  background: -webkit-linear-gradient(top, #b1d960, #7fc33c);
  background: -moz-linear-gradient(top, #b1d960, #7fc33c);
  background: -ms-linear-gradient(top, #b1d960, #7fc33c);
  background: -o-linear-gradient(top, #b1d960, #7fc33c);
}
.btn-success:hover {
  background: #8dd242;
  background: -webkit-gradient(linear, left top, left bottom, from(#b9e46a), to(#8dd242));
  background: -webkit-linear-gradient(top, #b9e46a, #8dd242);
  background: -moz-linear-gradient(top, #b9e46a, #8dd242);
  background: -ms-linear-gradient(top, #b9e46a, #8dd242);
  background: -o-linear-gradient(top, #b9e46a, #8dd242);
}
.btn-success.disabled {
  background-color: #7fc33c;
}
.btn-success[disabled] {
  background-color: #7fc33c;
}
.btn-success.dropdown-toggle {
  background-color: #7fc33c !important;
}
.btn-warning {
  border-color: #dc9014 !important;
  background: #ffb031;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffce4f), to(#ffb031));
  background: -webkit-linear-gradient(top, #ffce4f, #ffb031);
  background: -moz-linear-gradient(top, #ffce4f, #ffb031);
  background: -ms-linear-gradient(top, #ffce4f, #ffb031);
  background: -o-linear-gradient(top, #ffce4f, #ffb031);
}
.btn-warning:hover {
  background: #ffc531;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffdb4f), to(#ffc531));
  background: -webkit-linear-gradient(top, #ffdb4f, #ffc531);
  background: -moz-linear-gradient(top, #ffdb4f, #ffc531);
  background: -ms-linear-gradient(top, #ffdb4f, #ffc531);
  background: -o-linear-gradient(top, #ffdb4f, #ffc531);
}
.btn-warning.disabled {
  background-color: #ffb031;
}
.btn-warning[disabled] {
  background-color: #ffb031;
}
.btn-warning.dropdown-toggle {
  background-color: #ffb031 !important;
}
.btn-danger {
  border-color: #ab4b44 !important;
  background: #e3514a;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed8376), to(#e3514a));
  background: -webkit-linear-gradient(top, #ed8376, #e3514a);
  background: -moz-linear-gradient(top, #ed8376, #e3514a);
  background: -ms-linear-gradient(top, #ed8376, #e3514a);
  background: -o-linear-gradient(top, #ed8376, #e3514a);
}
.btn-danger:hover {
  background: #ff5e56;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff988c), to(#ff5e56));
  background: -webkit-linear-gradient(top, #ff988c, #ff5e56);
  background: -moz-linear-gradient(top, #ff988c, #ff5e56);
  background: -ms-linear-gradient(top, #ff988c, #ff5e56);
  background: -o-linear-gradient(top, #ff988c, #ff5e56);
}
.btn-danger.disabled {
  background-color: #e3514a;
}
.btn-danger[disabled] {
  background-color: #e3514a;
}
.btn-danger.dropdown-toggle {
  background-color: #e3514a !important;
}
.btn-inverse {
  border-color: #323232 !important;
  background: #444444;
  background: -webkit-gradient(linear, left top, left bottom, from(#6c6c6c), to(#444444));
  background: -webkit-linear-gradient(top, #6c6c6c, #444444);
  background: -moz-linear-gradient(top, #6c6c6c, #444444);
  background: -ms-linear-gradient(top, #6c6c6c, #444444);
  background: -o-linear-gradient(top, #6c6c6c, #444444);
}
.btn-inverse:hover {
  background: #575757;
  background: -webkit-gradient(linear, left top, left bottom, from(#8d8d8d), to(#575757));
  background: -webkit-linear-gradient(top, #8d8d8d, #575757);
  background: -moz-linear-gradient(top, #8d8d8d, #575757);
  background: -ms-linear-gradient(top, #8d8d8d, #575757);
  background: -o-linear-gradient(top, #8d8d8d, #575757);
}
.btn-inverse.disabled {
  background-color: #444444;
}
.btn-inverse[disabled] {
  background-color: #444444;
}
.btn-inverse.dropdown-toggle {
  background-color: #444444 !important;
}
.btn.disabled,
.btn[disabled] {
  background-image: none;
  box-shadow: none;
  cursor: default;
  opacity: 0.65;
}


/*
----------------------------------------------
Curator
----------------------------------------------*/

.curator-row {
  background-color:white;
  border-bottom:1px solid #ddd;
}

.curator-name {
  color: #333;
  padding: 10px;
  text-transform: uppercase;
}

.curator-name a {
    font-family: Oswald;
}

.curator-post-title {
  padding: 3px 10px 2px 5px;
  background-color: #e1e1e1;
  font-size: 12px;
}


.curator-block {
  margin: 0px 0;
  padding: 38px 38px;
  position: relative;
  right: 38px;


  img {
    display:block;
    margin:0px auto;
  }
  h4, h4 a, h5, h5 a {
    margin:0px 0px 10px 0px;
    line-height:14px; 
  }

}

.curator-block:nth-child(even)    { background-color:#f7f7f7; }
.curator-block:nth-child(odd)    { background-color:#fff; }

/*
----------------------------------------------
Index
----------------------------------------------*/
.landing-message {
  padding: 20px 0px 0px !important;
  font-style: italic;
  text-align: center;
}
img.feature-icon {
  float: right;
}
.hero {
  text-align: center;
}

/*
----------------------------------------------
Team
----------------------------------------------*/
#team-desc {
  position: relative;
  bottom: 20px;
}

/*
----------------------------------------------
Features
----------------------------------------------*/
.feature blockquote {
  padding: 0px;
  margin: 9px 0px 16px;
  border: none;
}

/*
----------------------------------------------
Blog
----------------------------------------------*/


article, section, aside {margin:0;padding:0;}

article h2 a {
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
}

aside{float:right;}
article {
  float: left;
  border-bottom: 1px solid #EEE;
  border-right: 1px dotted #666;
  padding: 0px 40px 0px 15px;
}


aside {
  .curator-name {padding: 2px 0 6px 0;}
  .curator-post-title {
    padding: 3px 10px 2px 10px;
    background-color: #e1e1e1;
    font-size: 12px;
    font-weight:bold;
  }
  .curator-row {margin:10px 0px 0px 0px;}
  .side-block {
    background-color:white;
  }
  .side-title {
  padding: 32px 0 0 5px;
  font-family: oswald;
  text-transform: uppercase;
  font-size: 15px;
  } 
  .side-description {
    font-size:13px;
    margin:0 0 25px 0;

  } 
  .side-thumb {

  }
  .borderLine {
    float: left;
    width: 100%;
    padding: -10px 0px 10px 0px;
    display: inline-block;
    margin: 0px 0 15px 0;
  }
 .borderLine-left {
    border: 3px solid $red;
    height: 0;
    width: 20%;
    display: inline-block;
    float: left;
  }
 .borderLine-right {
    width: 70%;
    margin: 2px 0px 0 2px;
    float: left;
    height: 1px;
    border: 1px dotted #999;
  }

}

article {
  h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 500;
    width: auto;
    display: inline-block;
    margin: 0 0 25px 0;
  }

  .blog-sub-headline {
    margin:-20px 0px 17px 0px;
    padding:0px 0px 0px 0px;
    color:red;
  }

 .borderLine {
    float: left;
    width: 100%;
    padding: -10px 0px 10px 0px;
    display: inline-block;
    margin: -15px 0 15px 0;
  }
 .borderLine-left {
    border: 3px solid $red;
    height: 0;
    width: 10%;
    display: inline-block;
    float: left;
  }
 .borderLine-right {
    width: 80%;
    margin: 2px 0px 0 2px;
    float: left;
    height: 1px;
    border: 1px dotted #999;
  }

} 



/*
----------------------------------------------
Contact
----------------------------------------------*/
#contact-details li {
  list-style-type: circle;
}
#contact-details ul {
  margin: 18px 0px 18px 14px;
}

/*
----------------------------------------------
Pricing
----------------------------------------------*/
.questions h3 {
  margin-top: 18px;
}
.popular {
  background-color: white !important;
  -moz-box-shadow: 0px 1px 6px 3px #ccc;
  -webkit-box-shadow: 0px 1px 6px 3px #ccc;
  box-shadow: 0px 1px 6px 3px #ccc;
  border: 1px solid #AAA !important;
}
#pricing-table .span3 {
  margin-bottom: 10px;
}
#pricing-table li {
  border-top: 1px solid #DDD;
  padding: 5px 0px;
  margin: 0px 10px;
}
#pricing-table h1 {
  color: #dc9014;
}
#pricing-table .popular h1 {
  color: #69963b;
}
#pricing-table div {
  padding-top: 0px;
  background-color: #FFFEDF;
  border: 1px solid #ffce4f;
  margin-right: -2px;
}
#pricing-table h2 {
  padding: 15px 0px 10px;
}


/*
----------------------------------------------
Blog
----------------------------------------------*/
.post-title{
  font-size: 20px;
  font-weight: 500;
  line-height:27px
}
.desc {
  font-size: 12px;
}

.recommend {
  font-size: 10px;
  position: relative;
  bottom: 5px;
}



/*
----------------------------------------------
Sign in / up
----------------------------------------------*/

.sign-in-title {
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #fcfcfc, #f8f8f8);
  background-image: -ms-linear-gradient(top, #fcfcfc, #f8f8f8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f8f8f8));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f8f8f8);
  background-image: -o-linear-gradient(top, #fcfcfc, #f8f8f8);
  background-image: linear-gradient(top, #fcfcfc, #f8f8f8);
  background-repeat: repeat-x;
  border: 1px solid #ddd;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
  padding: 0px 5px 0px 15px;
  border: 1px solid #dcdcdc;
}

.sign-in-body{
  padding: 15px 5px 5px 15px;
  border-right: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

.sign-in-footer {
  background-color: #ededed;
  padding: 15px 5px 15px 15px;
  border: 1px solid #dcdcdc;
  position: relative;
  right: 16px;
  width: 100%;
  top: 26px;
}

.reset {
  font-size: 10px;
  font-weight: bold;
}

.help-block {
  font-size: 11px;
  line-height: 15px;
  padding: 0px 50px 0px 0px;
  color: #999999;
}


/*
----------------------------------------------
Limitations
----------------------------------------------*/
.limitations {
  font-size:10px;
  color:#999;
}


/*
----------------------------------------------
Fixes / Hacks
----------------------------------------------*/

.space {margin: 25px 0px}
.space-medium {margin:40px 0;}
.space-large {margin:75px 0}
.push{
  margin: 0px 0px 200px 0px;
}
.push-large{
  margin: 0px 0px 400px 0px;
}
.footer-column {
  margin-right:-30px;
  padding: 5px 15px 5px 5px;
}







.sidebar-nav .well{
  background-color: white;
}

/* Other */
.action-btn {
  text-align:center;
   background-color: #fbfbfb;
background-color: #fbfbfb;
background-image: -moz-linear-gradient(top, #fcfcfc, #f8f8f8);
background-image: -ms-linear-gradient(top, #fcfcfc, #f8f8f8);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f8f8f8));
background-image: -webkit-linear-gradient(top, #fcfcfc, #f8f8f8);
background-image: -o-linear-gradient(top, #fcfcfc, #f8f8f8);
background-image: linear-gradient(top, #fcfcfc, #f8f8f8);
background-repeat: repeat-x;
border: 1px solid #ddd;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
-webkit-box-shadow: inset 0 1px 0 #ffffff;
   -moz-box-shadow: inset 0 1px 0 #ffffff;
        box-shadow: inset 0 1px 0 #ffffff;  margin-top:0px;
  margin-bottom:20px;
  padding:10px;
}

/* Comment Table */
.member-avatar img {
border: 1px solid #DDDDDD;}

.comment-info {
color:#666;
}

/* Portlets */
.box h4.box-header {
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  border: 1px solid #ddd;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.box .box-container-toggle {
  border-left:1px solid #DDD;
    border-right:1px solid #DDD;
      border-bottom:1px solid #DDD;
  
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
   -webkit-border-top-left-radius: 0px;
      -webkit-border-top-right-radius: 0px;
     -moz-border-top-left-radius: 0px;
        -moz-border-top-right-radius: 0px;
          border-top-left-radius: 0px;
                border-top-right-radius: 0px
}

.box-btn {
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.3);
  -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.3);
  box-shadow: 0px 1px 0px rgba(255,255,255,0.3);
}

/* Round Corners and text effects
----------------------------------------------------------------------------------------------------*/

.round-all {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.round-top {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-radius: 3px 3px 0 0;
}
.round-bottom {
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-radius: 0 0 3px 3px;
}
.round-left {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-radius: 3px 0 0 3px;
}
.round-right {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-radius:0 3px 3px 0;
}
/* Member Box - Side Nav */
.member-box {
   background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  border: 1px solid #ddd;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

img.member-box-avatar {
  border:1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* Dashboard  */
.box ul.dashboard-statistics li, ul.dashboard-member-activity li {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #fff;
}

.red {
  color:#B94A48;
}
.green {
  color:#468847
}
.yellow {
  color:#F89406
}
.blue {
  color:#3A87AD;
}

img.dashboard-member-activity-avatar {
  border:1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* Calendar */
.fc-state-default .fc-button-effect span {
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  border: 1px solid #ddd;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

/* Show Grid */
.show-grid [class*="span"] {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 3px 3px 3px 3px;
}

.show-grid:hover [class*="span"] {
    background: none repeat scroll 0 0 #DDDDDD;
}

.show-grid .show-grid [class*="span"] {
    background-color: #CCCCCC;
}






/* Bootstrap Data Tables Styles */
div.dataTables_length label {
  float: left;
  text-align: left;
}

div.dataTables_length select {
  width: 75px;
}

div.dataTables_filter label {
  float: right;
}

div.dataTables_info {
  padding-top: 8px;
}

div.dataTables_paginate {
  float: right;
  margin: 0;
}

table {
  margin: 1em 0;
  clear: both;
}

table.dataTable th:active {
  outline: none;
}
.dataTables_filter input, .dataTables_length select {
 display: inline-block;
  *display: inline;
  margin-bottom: 0;
  *zoom: 1;
}

.sort-index, .hidden {
  left: -10000px;
    position: absolute;
    top: -10000px;
    visibility: hidden;
}
/* Comment Table */
.comment-table tbody tr td {
vertical-align:top;
}
.member-avatar img {
border: 1px solid #DDDDDD;
padding: 1px;
text-align: center;
margin-top: 5px;
margin-left: auto;
margin-right: auto;
float: left;
}
table.member-info {
margin-top: 5px;
line-height:10px;
clear: none;
}
table.member-info tbody tr td {
line-height:15px;
}
.comment-info {
margin-bottom:2px;
}
.post-toolbar {
cursor:pointer;
}
tr .post-toolbar {
  visibility:hidden;
}

tr:hover .post-toolbar {
  visibility: visible;
}

/* Portlets */
.box {
  margin-bottom:10px;
}
.box h4.box-header {
  font-size:14px;
  padding: 7px 10px;
  margin: 0;
  list-style: none;
  cursor:move;
  font-family: helvetica;
  font-weight: 400;
  text-transform: none;
}


.box-content {
  padding:10px;
}

.box-btn {
  float:right;
  margin-left:2px;
  margin-right:2px;
  height: 14px;
  width: 14px;
  text-decoration:none;
  display: block;
  float: right;
  overflow: hidden;
  background-position:center;
  cursor:pointer;
}

.box-btn [class^="icon-"], .box-btn [class*=" icon-"] { 
  vertical-align:top;
}

.box-container-closed {
  display:none;
}

/* Portlets */
.box-placeholder {
  background-color: #f5f5f5;
  border: 1px dashed #DDDDDD;
  display: block;
  /* float: left;*/
    margin-bottom: 13px !important;
  margin-left: 1%;
  margin-right: 0.6%;
}
.box-placeholder * {
  visibility:hidden;
}
.column {
  min-height:20px;
}

/* Member Box - Side Nav */
.member-box {
  
  display:block;
  padding:10px;
  
}

img.member-box-avatar {
  height:50px;
  width:50px;
  padding:1px;
  margin-right:10px;
  float:left;
}

.member-box-links {
  font-size:85%;  
}

/* Dashboard  */
#dashboard-visit-map, #dashboard-new-registrations-gauge-chart {
  clear:both;
  margin-left: auto;
    margin-right: auto;
}

#dashboard-new-registrations-gauge-chart {
  padding-top:30px;
}


ul.dashboard-statistics, ul.dashboard-member-activity {
  margin: 10px 0;
}
.box ul.dashboard-statistics li, ul.dashboard-member-activity li {
  list-style: none;
  padding-bottom:10px;
  padding-top:10px;
}
ul.dashboard-statistics li:first-child, ul.dashboard-member-activity li:first-child {
  border-top: none;
  padding-top:0;
}
ul.dashboard-statistics li:last-child, ul.dashboard-member-activity li:last-child {
  border-bottom: none;
  padding-bottom:0;
}
ul.dashboard-statistics li a {

  display: block;
  line-height: 10px;
  text-decoration: none;
}
ul.dashboard-member-activity li a {

  display: inline;
  text-decoration: none;
}
ul.dashboard-statistics li a:hover, ul.dashboard-member-activity li a:hover {

}
ul.dashboard-statistics li a span {
  display: inline-block;
 *display: inline;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
  width: 70px;
  zoom: 1;
}
ul.dashboard-statistics i[class*=icon] {
  margin-left: 15px;
}


img.dashboard-member-activity-avatar {
  height:50px;
  width:50px;
  padding:1px;
  float:left;
  margin-left:15px;
  margin-right:15px;
}

#dashboard-new-registrations-gauge-chart table {
  background-color:transparent;
}
/* Calendar */
.external-event {
  margin-bottom:20px;
}

/* Show Grid */
.show-grid {
    margin-bottom: 10px;
    margin-top: 10px;
}
.show-grid [class*="span"] {

    line-height: 30px;
    min-height: 30px;
    text-align: center;
}
.show-grid .show-grid {
    margin-bottom: 0;
    margin-top: 0;
}

/* Forms */



.box form {
  margin:0;
}

.box .form-actions {
  margin-bottom:0px;
}

.cke_textarea {
  margin-top:10px;
  margin-bottom:10px; 
}











/*
----------------------------------------------
Deals Front Page
----------------------------------------------*/

.more-details {
  margin:10px;
}

.more-details a {
  color:#666;
  font-size:12px; 
}

.description {
  padding: 8px;
  margin: -85px 0 10px 0;
  font-size: 12px;
  color: #666;
  background-color: white;
  position: relative;
  display: block;
  line-height: 18px;
}

.item-bottom-bar {
  border-top: 1px solid #ededed;
  background-color: #f6f6f6;

  [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"]{
    width:48%;
  }

  [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
    width:48%!important;
  }

  .btn {
    font-size:11px;
    padding: 2px 10px;
  }
}

.item-title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 0.75em;
  line-height: 25px;
  padding: 0px 10px 0px 10px;
  background: #ed464a;
  bottom: 100px;
  font-weight: 500;
  position: relative;
  z-index: 0;
  left: 10px;
  width: auto;
  display: inline-block;
}

.item-sub-title {
    position:relative;
    bottom: 100px;
    background-color: #333;
    color: white;
    line-height: 20px;
    padding: 1px 10px;
    left: 10px;
    font-size: 11px;
    display:inline-block;
    text-transform:capitalize;
}


#listings-new {
  margin-left:0px;
}

.item {
  background-color: #fff;
  margin: 5px 0px 20px -10px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
  border: 4px solid #FBFBFB;
  position: relative;
}




.item-price {
  color: #666;
  font-size: 13px;
  font-weight: 500;
  padding: 0;
  width: auto;
  padding: 1px 0 0 12px;
  position:relative;
  z-index:900;
}

.deal-bottom-button {
  position: relative;
  background-color: #efefef;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.deal-bottom-button a {
  font-family: Oswald;
  color: #999;
  font-size: 12.5px;
  display:block;
  padding:8px
}

.deal-bottom-button a:hover {
  color: white;
  background-color:#333;
}


/*
----------------------------------------------
Local Deals Page
----------------------------------------------*/

.cta {
  background-color:#f6f6f6;
}

.cta p {
  font-family:Oswald;
  padding:10px 0 0 10px;
}

.carousel { 
  margin:0;
}

.product {
  margin:0;
  padding:0;
}

.product-line {
  table {position:relative; bottom:73px;}
  td {background-color:white;}
}

.product-detail {
  padding:0px 0 0 0;
  h4 {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 100;
   font-size: 16px;
  }

}

.spread {
  margin:-80px 0 0 0;
}

.twshare {float:left;}



.price-old {
  color: #ccc;
  text-decoration: line-through;
  font-size: 16px;
}

.price-new {
  color: $red;
  font-size: 25px;
  font-weight: bold;
}


.row-fluid [class*="promotion-grid"] {
  margin:3px;
  width:19.26923%;   
}

/*
----------------------------------------------
Rating Stars
----------------------------------------------*/

.rating {
  margin: auto 0;
}

.rating_star {
  background: url('star.gif') 0 0;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
}

.on {
  background: url('yellow-star.gif') 0 0;
}

.vendor_map {
  height: 300px;
  width: 300px;
}

/**** Isotope CSS3 transitions ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/**** Sold out overlay */

.zombie_image {
  top:0;
  left: 0;
  position:absolute;
  /*background:url(/assets/sold_out.jpg);*/
}  

/*.zombie_image:before {
   content:"";
   z-index:1;
   top:0;
   bottom:0;
   left:0;
   right:0;
   background:url(/assets/sold_out.jpg);
   opacity:0.4;
   filter:alpha(opacity=40); /* For IE8 and earlier 
}*/

/*
.zombie_image {
  opacity:0.6;
  filter:alpha(opacity=60); 

  background-image: 
    url(/assets/sold_out.jpg);
}*/



