<% @categories = Category.all %>
<ul id="filterable">
<li>
<a data-categories="*" title="Show All Projects">
<span class="project-caption">All Items</span>
<span class="tooltip">## Items<span class="triangle-down"></span></span>
</a>
</li>

<% @categories.each do |category| %>

<li>
<a data-categories=" <%=category.name%>" title="<%=category.name%>">
<span class="project-caption"> <%=category.name%></span>
<span class="tooltip">  # Items<span class="triangle-down"></span></span>
</a>
</li>
<% end %>						 
</ul>


