	<div id="portfolio-filter" class="widget">
		<h3 class="widget-title">Filter</h3>
				<ul id="filter" class="clearfix"> 
					<li class="all"><a class="active" href="#" data-filter="*" >All</a></li>
					<% @categories.each do |category| %>
											<li class="cat-item <%=category.name%>">
						<a href="#" data-filter=".<%=category.name%>"><%=category.name%></a> 
					</li> 

<% end %>						 
		</div>




