<% @categories = Category.all %>
<div class="row-fluid">
  <div class="span12 nav-menus">
      <ul class="nav nav-pills">
          <li class="active"><a href="index.html">All Items</a></li>
<% @categories.each do |category| %>
<li><a href="#"><%=category.name%></a></li>

<% end %>						 
      </ul>
  </div><!--span12 -->
</div><!--row-fluid -->
