%table
  %col{:width => "200"}/
  %col{:width => "150"}/
  %col{:width => "100"}/
  %col{:width => "100"}/
  %tr
    %th Image
    %th Title
    %th Expiration
    %th Destination
  - p_list.each do |p|
    %tr
      %td= link_to(image_tag(p.teaser_image_url(:product_thumb).to_s), promotion_path(p))
      %td= p.title
      - if p.end_date.nil?
        %td None
      - else
        %td= p.end_date.try(:strftime, '%b %d, %Y')
      %td= p.destination  
