.large-4.columns
  .row.curator-row
    .large-4.columns.x-padding
      = link_to(image_tag(curator.picture_url(:contributor_photo).to_s), curator_path(curator))
    .large-8.columns.curator-name
      %h5= link_to curator.name, curator_path(curator)
      %p Certified Mentor
      - curator.blog_posts_for(promotion).each do |post|
        .icon-double-angle-right
        = link_to truncate(post.title, :length => 32), blog_post_path(post)
        %br/
