	<%if params['type'] == "local"%>
<h1> New LOCAL DEAL</h1>
	<%else 
			if params['type'] == "ad"%>
			<h1> New Advertising DEAL</h1>
			<%else%>
			<h1> New Affiliate DEAL</h1>
			
			
			<%end %>
	<%end%>

<%= render 'form' %>

<%= link_to 'Back', promotions_path %>
