%h1 New Promotion order
= render :partial => 'thumbnail', :locals => { :promotion => @promotion }
= render :partial => 'merchant/orders/order_form', :locals => { :stripe_customer => @stripe_customer }
