%h2 My Deals
%h1	All promotions - Listing / Manage
= link_to 'New Promotion', new_promotion_path
%br/
%br/
%br/
%br/
.portfolio-container
  %ul.portfolio-items#grid-portfolio
    - @promotions.each do |promotion|
      %li.item_hover
        %h4= link_to sanitize(promotion.title), promotion
        &nbsp;&nbsp;
        = image_tag promotion.teaser_image_url(:teaser).to_s, :size => "50x50"
        = link_to 'Vouchers', merchant_dashboard_path(:id => promotion)
        &nbsp;&nbsp;
