!!!
%head
  %meta{:content => 'text/html', :charset => 'UTF-8', 'http-equiv' => 'Content-Type'}
%body
  = yield
  %p Thanks for being a Machovy minion, and have a great day!
  %p Sincerely,
  %p The Machovy Team
  %br/
  %p Email footer for users...
